<div class="blog-article">
    <div class="blog-article__wrapper" data-scroll data-scroll-repeat data-scroll-call="Fade">
        <a href="{{ article.url }}" class="blog-article__link-wrap">
            <img 
            sizes="
                (min-width: 768px) 450px,
                630px
            "
            srcset="
                {{ article | img_url: '450x' }} 450w,
                {{ article | img_url: '630x' }} 630w
            "
            src="{{ article | img_url: '630x' }}"
            src-placeholder="{{ article | img_url: '50x' }}"
            loading="lazy" 
            class="blog-article__image">
            <div class="blog-article__overlay"></div>
        </a>
    </div>
    <div class="blog-article__content">
        <span class="blog-article__title">{{ article.title }}</span>
        <span class="blog-article__excerpt">
        {% if article.excerpt.size > 0 %}
            {{ article.excerpt }}
        {% else %}
            {{ article.content | strip_html | truncatewords }}
        {% endif %}
        </span>
        <a href="{{ article.url }}" class="blog-article__continue">
            <span class="link">Continue Reading {% render 'icon-arrow-narrow-right' %}</span>
        </a>
    </div>
</div>