{% assign videoType = section.settings.video_type %}
{% assign videoTitle = section.settings.video_title %}
{% assign videoSubTitle = section.settings.video_subtitle %}
{% assign videoURL = section.settings.video_url %}

<div class="featured-video">
    <div class="featured-video__wrapper">
        {% if videoURL %}
            {% if videoType == "youtube" %}
                {% assign videoId = section.settings.video_url | split: '?v=' %}
                {% assign videoURL = "https://www.youtube.com/embed/" | append: videoId[1] %}

                <iframe 
                loading="lazy" 
                src="{{ videoURL }}?vq=small&rel=0&hd=0&autoplay=1&controls=0&disablekb=1&loop=1&modestbranding=1&playsinline=1&color=white&mute=1&playlist={{ videoId[1] }}" 
                frameborder="0"
                class="featured-video__iframe" data-scroll data-scroll-repeat data-scroll-call="Fade"></iframe>
                <div class="featured-video__overlay">
                    {% for block in section.blocks %}
                        {% case block.type %}
                            {% when 'video_title' %}
                                <span class="featured-video__title" data-scroll data-scroll-speed="-.3">{{ videoTitle }}</span>
                            {% when 'video_subtitle' %}
                                <span class="featured-video__subtitle" data-scroll data-scroll-speed="-.3">{{ videoSubTitle }}</span>
                            {% endcase %}
                    {% endfor %}
                </div>
            {% elsif videoType == "vimeo" %}
                {% assign videoId = section.settings.video_url | split: '.com/' %}
                {% assign videoURL = "https://player.vimeo.com/video/" | append: videoId[1] %}      

                <iframe 
                loading="lazy" 
                src="{{ videoURL }}?&background=1&autopause=0&loop=true&autoplay=true&muted=true&gesture=media&playsinline=true&byline=false&portrait=false&title=false&speed=true&transparent=false&customControls=true&quality=240p"  
                frameborder="0"
                class="featured-video__iframe"></iframe>
                <div class="featured-video__overlay">
                    {% for block in section.blocks %}
                        {% case block.type %}
                            {% when 'video_title' %}
                                <span class="featured-video__title" data-scroll data-scroll-speed="-.3">{{ videoTitle }}</span>
                            {% when 'video_subtitle' %}
                                <span class="featured-video__subtitle" data-scroll data-scroll-speed="-.3">{{ videoSubTitle }}</span>
                        {% endcase %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>

{% schema %}
    {
        "name": "Featured Video",
        "settings": [
            {
                "type": "text",
                "id": "video_title",
                "label": "Video title"
            },
            {
                "type": "text",
                "id": "video_subtitle",
                "label": "Video Sub Title"
            },
            {   
                "type": "radio",
                "id": "video_type",
                "label": "Video type",
                "options": [
                    {
                        "value": "youtube",
                        "label": "Youtube"
                    },
                    {
                        "value": "vimeo",
                        "label": "Vimeo"
                    }
                ],
                "default": "youtube"
            },
            {
                "type": "video_url",
                "id": "video_url",
                "label": "Video URL",
                "accept": [
                    "youtube",
                    "vimeo"
                ]
            }
        ],
        "blocks": [
            {
                "type": "video_title",
                "name": "Title",
                "limit": 1
            },
            {
                "type": "video_subtitle",
                "name": "Sub Title",
                "limit": 1
            }
        ],
        "presets": [
            {
                "name": "Featured Video"
            }
        ]
    }
{% endschema %}