{% assign stories = section.blocks %}
{% assign lastStory = section.blocks[1].settings.featured_article %}
{% assign storiesSize = 0 %}

<!-- data-scroll-delay="0.10" data-scroll data-scroll-speed=".2" -->

{% if lastStory != blank %}
    {% assign storiesSize = 2 %}
    {% else %}
    {% assign storiesSize = 1 %}
{% endif %}

<div class="
    featured-story
    {% if lastStory != blank %}
        grid-cols-1 md:grid-cols-2
    {% else %}
        grid-cols-1 md:grid-cols-1
    {% endif %}
    ">
    {% if storiesSize > 1 %}
        {% for block in stories %}
            {% assign story = block.settings.featured_article %}
            
            <div class="featured-story__wrapper">
                <a href="{{ story.url }}" class="featured-story__link-wrap">
                    <img 
                    sizes="
                        (min-width: 768px) 900px,
                        900px
                    "
                    srcset="
                        {{ story | img_url: '900x' }} 900x,
                        {{ story | img_url: '900x' }} 900x
                    "
                    src="{{ story | img_url: '900x' }}"
                    src-placeholder="{{ story | img_url: '50x' }}"
                    loading="lazy" 
                    class="featured-story__image" data-scroll data-scroll-repeat data-scroll-call="Fade">
                    <div class="featured-story__overlay">
                        <span class="featured-story__title">{{ story.title  | escape }}</span>
                        <span class="featured-story__subtitle link">{{block.settings.subtitle }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% else %}
        {% assign firstStory = stories[0].settings.featured_article %}

        <div class="featured-story__wrapper">
            <div class="featured-story__link-wrap">
                <img 
                sizes="
                    (min-width: 768px) 900px,
                    900px
                "
                srcset="
                    {{ firstStory | img_url: '900x' }} 900x,
                    {{ firstStory | img_url: '900x' }} 900x
                "
                src="{{ firstStory | img_url: '900x' }}"
                src-placeholder="{{ firstStory | img_url: '50x' }}"
                loading="lazy"
                class="featured-story__image" data-scroll>
                <div class="featured-story__overlay">
                    <span class="featured-story__title"{{ firstStory.title }}></span>
                    <span class="featured-story__subtitle link">{{ block.settings.subtitle }}</span>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% schema %}
{
    "name": "Featured Story",
    "max_blocks": 2,
    "blocks": [
        {
            "name": "Story",
            "type": "story",
            "settings": [
                {
                    "type": "article",
                    "id": "featured_article",
                    "label": "Featured Story"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Sub Title",
                    "default": "View the story"
                }
            ]
        }
    ],
    "presets": [
        {
            "name":"Featured Story"
        }
    ]
}
{% endschema %}