<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preload" href="{{ 'bundle.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'bundle.js' | asset_url }}" as="script">

    <title>{{ page_title | escape }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ 'bundle.css' | asset_url | stylesheet_tag }}
    {% render 'fonts' %}

    <!-- header hook for Shopify plugins -->
    {{ content_for_header }}
  </head>

  <body class="subpixel-antialiased"> 
      {% section 'layout-header' %}
      <main id="main" role="main" data-scroll-container>
        <div data-router-wrapper>
          {{ content_for_layout }}
        </div>
        {% section 'layout-footer' %}
      </main>

    <!-- webpack bundle -->
    <script src="{{ 'bundle.js' | asset_url }}" defer="defer"></script>
  </body>
</html>